<div class="container">
    <app-cockpit (serverCreated)="onServerAdded($event)" (bluePrintCreated)="onBluePrintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button (click)="test2()" class="btn btn-primary">Change 2</button>
        <app-server-element [name] = "serverElement.name"  (modifyObjTitle)="modifyObjTitle($event)" *ngFor="let serverElement of serverElements, index as i" [nr]="i" [srvElement]="serverElement"></app-server-element>
    </div>
  </div>
</div>
